package ratelimit

import "github.com/redis/go-redis/v9"

// NewLimiter tạo limiter theo config
func NewLimiter(cfg Config, redisClient *redis.Client) Limiter {
	if cfg.Driver == "redis" && redisClient != nil {
		return NewRedisRateLimiter(redisClient, cfg.Limit, cfg.TTL)
	}
	// Fallback memory
	return NewMemoryRateLimiter(cfg.Limit, cfg.TTL)
}
