package ratelimit

import (
	"sync"
	"time"
)

// MemoryRateLimiter dùng map trong RAM
type MemoryRateLimiter struct {
	mu    sync.RWMutex
	ips   map[string]*visitor
	limit int
	ttl   time.Duration
}

type visitor struct {
	mu       sync.Mutex
	count    int
	lastSeen time.Time
}

func NewMemoryRateLimiter(limit int, ttl time.Duration) *MemoryRateLimiter {
	return &MemoryRateLimiter{
		ips:   make(map[string]*visitor),
		limit: limit,
		ttl:   ttl,
	}
}

func (m *MemoryRateLimiter) Allow(key string) (bool, error) {
	m.mu.Lock()
	defer m.mu.Unlock()

	v, exists := m.ips[key]
	if !exists {
		m.ips[key] = &visitor{count: 1, lastSeen: time.Now()}
		return true, nil
	}

	v.mu.Lock()
	defer v.mu.Unlock()

	if time.Since(v.lastSeen) > m.ttl {
		v.count = 1
		v.lastSeen = time.Now()
		return true, nil
	}

	if v.count < m.limit {
		v.count++
		return true, nil
	}

	return false, nil
}

func (m *MemoryRateLimiter) Reset(key string) error {
	m.mu.Lock()
	defer m.mu.Unlock()
	delete(m.ips, key)
	return nil
}
