package refresh

import (
	"context"
	entity "{{.ModuleName}}/internal/entity/refresh"
)

func (r *RefreshTokenRepository) Create(ctx context.Context, token *entity.RefreshToken) error {
	if err := r.db.WithContext(ctx).Create(token).Error; err != nil {
		return err
	}
	return r.cacheToken(ctx, token)
}
