package auth

import (
	"context"
	entityAuth "{{.ModuleName}}/internal/entity/auth"
)

func (r *AuthRepository) CreateAuth(ctx context.Context, auth *entityAuth.Auth) error {

	result := r.db.WithContext(ctx).
		Select("email", "password", "user_id", "salt").
		Create(auth)
	if result.Error != nil {
		return result.Error
	}

	return nil
}
