package auth

import (
	"context"
	"errors"
	entity "{{.ModuleName}}/internal/entity/auth"
	"gorm.io/gorm"
)

func (r *AuthRepository) GetAuthByEmail(ctx context.Context, email string) (*entity.Auth, error) {
	// 1. Check cache
	auth, err := r.getAuthFromCacheByEmail(ctx, email)
	if err == nil && auth != nil {
		return auth, nil
	}

	// 2. Check "not found" cache
	if r.isNotFoundCached(ctx, r.cacheKeyNotFoundEmail(email)) {
		return nil, nil
	}

	// 3. Query DB
	var data entity.Auth
	err = r.db.WithContext(ctx).Where("email = ?", email).First(&data).Error
	if err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			//r.cacheNotFound(ctx, r.cacheKeyNotFoundEmail(email))
			return nil, nil
		}
		return nil, err
	}

	// 4. Cache kết quả
	go r.cacheAuth(context.Background(), &data)
	return &data, nil
}
func (r *AuthRepository) GetAuthByUserId(ctx context.Context, userID uint32) (*entity.Auth, error) {
	// 1. Check cache
	auth, err := r.getAuthFromCacheByUserID(ctx, userID)
	if err == nil && auth != nil {
		return auth, nil
	}

	// // 2. Check "not found" cache
	if r.isNotFoundCached(ctx, r.cacheKeyNotFoundUser(userID)) {
		return nil, nil
	}

	// 3. Query DB
	var data entity.Auth
	err = r.db.WithContext(ctx).Where("user_id = ?", userID).First(&data).Error
	if err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			//r.cacheNotFound(ctx, r.cacheKeyNotFoundUser(userID))
			return nil, nil
		}
		return nil, err
	}

	// 4. Cache kết quả
	go r.cacheAuth(context.Background(), &data)
	return &data, nil
}
