package auth

import (
	"context"

	entity "{{.ModuleName}}/internal/entity/auth"
)

func (r *AuthRepository) UpdateAuth(ctx context.Context, auth *entity.Auth) error {
	// Lấy old auth để invalidate cache
	var oldAuth entity.Auth
	r.db.WithContext(ctx).Where("email = ?", auth.Email).First(&oldAuth)

	result := r.db.WithContext(ctx).Model(&entity.Auth{}).
		Where("email = ?", auth.UserId).
		Updates(map[string]interface{}{
			"password":  auth.Password,
			"salt":      auth.Salt,
			"banned":    auth.Banned,
			"auth_type": auth.AuthType,
		})
	if result.Error != nil {
		return result.Error
	}

	// // Invalidate cache cũ và cache mới
	go func() {
		r.invalidateAuthCache(context.Background(), oldAuth.Email, uint32(oldAuth.UserId))
		r.cacheAuth(context.Background(), auth)
	}()

	return nil
}
