// internal/user/mapping/user_mapping.go
package mapping

import (
	domainUser "{{.ModuleName}}/internal/shared/domain"
	"{{.ModuleName}}/internal/shared/utils"
	dtoUser "{{.ModuleName}}/internal/user/dto/response"
	entityUser "{{.ModuleName}}/internal/user/entity"
)

// 1. DTO ↔ Domain

func FromDtoToDomainlUser(dto *dtoUser.User) *domainUser.User {
	if dto == nil {
		return nil
	}
	return &domainUser.User{
		Id:        int(utils.DecodeFromBase58(dto.Id).LocalID),
		Name:      dto.Name,
		Email:     dto.Email,
		Role:      dto.Role,
		CreatedAt: dto.CreatedAt,
		UpdatedAt: dto.UpdatedAt,
	}
}

// 1.1 List DTO → List Domain (dùng generic)
func FromDtoToDomainUserList(dtos []*dtoUser.User) []*domainUser.User {
	return utils.MapPtrSlice(dtos, FromDtoTodomainUser)
}

// 2. Domain ↔ Entity

func FromDomainToEntityUser(domain *domainUser.User) *entityUser.User {
	if domain == nil {
		return nil
	}
	return &entityUser.User{
		Id:        domain.Id,
		Name:      domain.Name,
		Email:     domain.Email,
		Role:      domain.Role,
		CreatedAt: domain.CreatedAt,
		UpdatedAt: domain.UpdatedAt,
	}
}

// List Domain → List Entity (dùng generic)
func FromDomainToEntityUserList(domains []*domainUser.User) []*entityUser.User {
	return utils.MapPtrSlice(domains, FromdomainToEntityUser)
}

func FromEntityTodomainUser(entity *entityUser.User) *domainUser.User {
	if entity == nil {
		return nil
	}
	return &domainUser.User{
		Id:        entity.Id,
		Name:      entity.Name,
		Email:     entity.Email,
		Role:      entity.Role,
		CreatedAt: entity.CreatedAt,
		UpdatedAt: entity.UpdatedAt,
	}
}

// List Entity → List Domain (dùng generic)
func FromEntityToDomainUserList(entities []*entityUser.User) []*domainUser.User {
	return utils.MapPtrSlice(entities, FromEntityTodomainUser)
}

// List Domain → List DTO
func FromDomainToDtoUser(domain *domainUser.User) *dtoUser.User {
	if domain == nil {
		return nil
	}
	return &dtoUser.User{
		Id:        utils.NewUID(uint32(domain.Id), utils.ObjectUser).ToBase58(),
		Name:      domain.Name,
		Email:     domain.Email,
		Role:      domain.Role,
		CreatedAt: domain.CreatedAt,
		UpdatedAt: domain.UpdatedAt,
	}
}

// List Domain → List DTO (dùng generic)
func FromDomainToDtoUserList(domains []*domainUser.User) []*dtoUser.User {
	return utils.MapPtrSlice(domains, FromdomainToDtoUser)
}
