package cmd

import (
	"context"
	"{{.ModuleName}}/cmd/server/config"
	routes "{{.ModuleName}}/cmd/server/routers"

	"fmt"

	w_handl "github.com/DVV-15324/witches/pkg/core/handle"
	"github.com/gin-gonic/gin"
	"github.com/spf13/cobra"
)

var root = &cobra.Command{
	Use:   "root",
	Short: "En: Start the software | Vi: Bắt đầu khởi động phần mềm",
	Run: func(cmd *cobra.Command, args []string) {
		r := gin.Default()
		config := config.Load()
		host := fmt.Sprintf("%s:%s", config.Host, config.Port)
		routes.Start(r, host, config)
		w_handl.ShutdownServer(context.Background(), r, config.Host, config.Port)
	},
}

func GetExcute() *cobra.Command {
	return root
}
