# Coverage
*.out
coverage*.out
coverage.html

# Logs
*.log

# Environment
witches.env
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# !!! Cho phép file easyjson sinh ra
!test/easyjson/dto/request/request_easyjson.go
!test\easyjson\dto\response\response_easyjson.go