// entity/refresh/refresh.go
package refresh

import "time"

type RefreshToken struct {
	ID            string    `gorm:"primaryKey"`
	UserID        uint32    `gorm:"index;not null"`
	Token         string    `gorm:"uniqueIndex;not null;type:varchar(255)"`
	DeviceID      string    `gorm:"not null;type:varchar(100)"`
	DeviceName    string    `gorm:"type:varchar(100)"`
	IPAddress     string    `gorm:"type:varchar(45)"`
	UserAgent     string    `gorm:"type:text"`
	ExpiresAt     int64     `gorm:"not null;index"`
	Revoked       bool      `gorm:"default:false;index"`
	RevokedAt     int64     `gorm:"default:0"`
	RevokedReason string    `gorm:"type:varchar(255)"`
	CreatedAt     time.Time `gorm:"autoCreateTime"`
	UpdatedAt     time.Time `gorm:"autoUpdateTime"`
}

func (RefreshToken) TableName() string {
	return "refresh_tokens"
}
