package auth

import (
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	"github.com/DVV-15324/witches/pkg/core/response/logger"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"

	"context"
	entityAuth "example_2/internal/entity/auth"
)

type IUsecaseAuth interface {
	Login(ctx context.Context, au *entityAuth.Auth, DeviceID string, IPAddress string, UserAgent string, TimeZone string, Locale string) (*w_utils.TokenResponse, *w_resp.ErrorResponse)
	Register(ctx context.Context, auth *entityAuth.Auth, name string) *w_resp.ErrorResponse
	LoginWithGoogle(ctx context.Context, accessToken string, deviceID string, sipAddress string, userAgent string, TimeZone string, Locale string) (*w_utils.TokenResponse, *w_resp.ErrorResponse)
	Logout(ctx context.Context, accessToken, refreshTokenStr string, deviceID string) *w_resp.ErrorResponse
}
type AuthHandle struct {
	Log         *logger.EntityLogger
	UsecaseAuth IUsecaseAuth
}

func NewAuthHandle(authUseCase IUsecaseAuth, log *logger.EntityLogger) *AuthHandle {
	return &AuthHandle{
		UsecaseAuth: authUseCase,
		Log:         log,
	}
}
