package auth

import (
	dtoAuth "{{.ModuleName}}//internal/dto/auth/request"
	helper "{{.ModuleName}}//internal/utils"
	u_response "github.com/DVV-15324/witches/pkg/core/response_logger"
	"github.com/gin-gonic/gin"
	"net/http"
)

func (h *AuthHandle) HandleGoogleLogin() func(c *gin.Context) {
	return func(c *gin.Context) {
		var req dtoAuth.GoogleLoginRequest

		if err := c.ShouldBindJSON(&req); err != nil {
			c.JSON(http.StatusBadRequest, gin.H{"error": "Invalid request"})
			return
		}

		// Use helper to get device info
		deviceID, deviceName, ipAddress, userAgent := helper.GetDeviceInfo(c)

		token, err := h.UsecaseAuth.LoginWithGoogle(
			c.Request.Context(),
			req.AccessToken,
			deviceID,
			deviceName,
			ipAddress,
			userAgent,
		)

		if err != nil {
			u_response.WriteError(c, h.Log, err)
			return
		}
		u_response.WriteSuccess(c, token)
	}
}
