package repository

import (
	"context"
	domainUser "{{.ModuleName}}/internal/shared/domain"
	mapping "{{.ModuleName}}/internal/user/mapping"
)

// Tạo User
func (u *UserRepository) CreateUser(ctx context.Context, user *domainUser.User) (int, error) {

	// map user *domainUser.User -> Model
	modelU := mapping.FromDomainToModelUser(user)
	// Tạo mới với GORM
	result := u.db.WithContext(ctx).Select("email", "name").Create(modelU)
	if result.Error != nil {
		return 0, result.Error
	}

	// Lấy ID vừa tạo
	return int(user.Id), nil
}
