package repository

import (
	"context"
	domainUser "{{.ModuleName}}/internal/shared/domain"
	mapping "{{.ModuleName}}/internal/user/mapping"
)

func (u *UserRepository) CreateUser(ctx context.Context, user *domainUser.User) (int, error) {
	modelU := mapping.FromDomainToModelUser(user)
	result := u.core.DB.WithContext(ctx).Select("email", "name").Create(modelU)
	if result.Error != nil {
		return 0, result.Error
	}
	user.Id = modelU.Id
	return int(user.Id), nil
}
