package handler

import (
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	w_logger "github.com/DVV-15324/witches/pkg/core/response/logger"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"
	wcmd_utils "github.com/DVV-15324/witches/cmd/utils"
	"context"
)

type IRefreshUseCase interface {
	Refresh(ctx context.Context, refreshTokenStr, deviceID string) (*w_utils.Token, *w_resp.AppError)
}
type RefreshHandle struct {
	Log            *w_logger.ModelLogger
	RefreshUsecase IRefreshUseCase
	Cfg         *wcmd_utils.Config
}

func NewRefreshHandle(refreshseCase IRefreshUseCase, log *w_logger.ModelLogger, Cfg *wcmd_utils.Config) *RefreshHandle {
	return &RefreshHandle{
		RefreshUsecase: refreshseCase,
		Log:            log,
		Cfg:            Cfg,
	}
}
