package usecase

import (
	"context"
	"errors"
	"fmt"

	domainAuth "{{.ModuleName}}/internal/shared/domain"
	domainToken "{{.ModuleName}}/internal/shared/domain"
	utils "{{.ModuleName}}/internal/shared/utils"
	"time"

	w_dpop "github.com/DVV-15324/witches-dpop"

	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"

	"github.com/google/uuid"
)

func (a *AuthUseCase) Login(ctx context.Context, au *domainAuth.Auth, jwk *w_dpop.JWK, ipAddress string, userAgent string, timeZone string, locale string) (*w_utils.TokenResponse, *w_resp.AppError) {
	auth, err := a.AuthReponsitory.GetAuthByEmail(ctx, au.Email)
	if err != nil {
		resp := w_resp.NewAppError(500, err, time.Now())
		return nil, resp
	}
	if auth == nil {
		resp := w_resp.NewAppError(500, errors.New("email không tồn tại"), time.Now())
		return nil, resp
	}

	if auth.Banned {
		resp := w_resp.NewAppError(500, errors.New("tài khoản đã bị khóa"), time.Now())
		return nil, resp
	}

	if !a.Core.Hash.CompareHashAndPassword(auth.Password, au.Password, auth.Salt) {

		resp := w_resp.NewAppError(500, errors.New("email hoặc mật khẩu không đúng"), time.Now())
		return nil, resp
	}

	s := utils.NewUID(auth.UserId, 1)
	sub := s.ToBase58()
	tid := uuid.New().String()

	jkt, err_jkt := w_dpop.JWKThumbprint(jwk)
	if err_jkt != nil {
		e := fmt.Sprintf("JWKThumbprint error: %v", err_jkt)
		resp := w_resp.NewAppError(500, errors.New(e), time.Now())
		return nil, resp
	}

	accessToken, err_access_token := a.Core.JWT.IssueAccessToken(ctx, sub, tid, jkt)
	if err_access_token != nil {
		resp := w_resp.NewAppError(500, err_access_token, time.Now())
		return nil, resp
	}
	refreshTokenStr, err_refresh_token := a.Core.JWT.IssueRefreshToken(ctx, sub, tid)
	if err_refresh_token != nil {
		resp := w_resp.NewAppError(500, err_refresh_token, time.Now())
		return nil, resp
	}

	refreshToken := &domainToken.RefreshToken{
		UserID:    auth.UserId,
		Token:     refreshTokenStr.Token,
		JKT:       jkt,
		UserAgent: userAgent,
		IPAddress: ipAddress,
		Locale:    locale,
		Timezone:  timeZone,
		ExpiresAt: a.Core.Config.RefreshTokenTTL,
	}
	if err := a.RefreshTokenUseCase.Create(ctx, refreshToken); err != nil {
		return nil, err
	}

	session := &w_utils.SessionCache{
		UserID:      auth.UserId,
		JKT:         jkt,
		UserAgent:   userAgent,
		IPAddress:   ipAddress,
		Locale:      locale,
		Timezone:    timeZone,
		LastActive:  time.Now().Unix(),
		AccessToken: accessToken.Token,
	}
	_ = a.Core.Session.CreateSession(ctx, session)

	return &w_utils.TokenResponse{
		AccessToken:  *accessToken,
		RefreshToken: *refreshTokenStr,
	}, nil
}
