package usecase

import (
	"context"
	core "{{.ModuleName}}/cmd/server/core"
	domainAuth "{{.ModuleName}}/internal/shared/domain"
	domainRefresh "{{.ModuleName}}/internal/shared/domain"
	domainUser "{{.ModuleName}}/internal/shared/domain"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
)

type IAuthReponsitory interface {
	CreateAuth(ctx context.Context, auth *domainAuth.Auth) error
	GetAuthByEmail(ctx context.Context, email string) (*domainAuth.Auth, error)
	GetAuthByUserId(ctx context.Context, userID int64) (*domainAuth.Auth, error)
}

type IRefreshTokenUsecase interface {
	Create(ctx context.Context, token *domainRefresh.RefreshToken) *w_resp.AppError
	GetByToken(ctx context.Context, token string) (*domainRefresh.RefreshToken, *w_resp.AppError)
	Revoke(ctx context.Context, token string, reason string, dPopJwk string) *w_resp.AppError
}

type IUserUseCase interface {
	CreateUser(ctx context.Context, user *domainUser.User) (int64, *w_resp.AppError)
	GetUserById(ctx context.Context, id int64) (*domainUser.User, *w_resp.AppError)
}

type AuthUseCase struct {
	Core                *core.CoreServices
	UserUseCase         IUserUseCase
	AuthReponsitory     IAuthReponsitory
	RefreshTokenUseCase IRefreshTokenUsecase
}

func NewAuthUseCase(
	core *core.CoreServices,
	authReponsitory IAuthReponsitory,
	userUseCase IUserUseCase,
	refreshTokenUseCase IRefreshTokenUsecase,
) *AuthUseCase {
	return &AuthUseCase{
		Core:                core,
		AuthReponsitory:     authReponsitory,
		UserUseCase:         userUseCase,
		RefreshTokenUseCase: refreshTokenUseCase,
	}
}