// internal/usecase/auth/auth.go
package auth

import (
	"context"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"
	"{{.ModuleName}}/cmd/server/config"
	entityAuth "{{.ModuleName}}/internal/entity/auth"
	entityRefresh "{{.ModuleName}}/internal/entity/refresh"
	entityUser "{{.ModuleName}}/internal/entity/user"
)

type IAuthReponsitory interface {
	CreateAuth(ctx context.Context, auth *entityAuth.Auth) error
	GetAuthByEmail(ctx context.Context, email string) (*entityAuth.Auth, error)
	GetAuthByUserId(ctx context.Context, userID uint32) (*entityAuth.Auth, error)
}
type IRefreshTokenUsecase interface {
	Create(ctx context.Context, token *entityRefresh.RefreshToken) *w_resp.AppError
	GetByToken(ctx context.Context, token string) (*entityRefresh.RefreshToken, *w_resp.AppError)
	Revoke(ctx context.Context, token string, reason string, deviceID string) *w_resp.AppError
}

type IHash interface {
	GenerateFromPassword(password string, salt string) (string, error)
	CompareHashAndPassword(passwordStr string, password string, salt string) bool
}

type IUserUseCase interface {
	CreateUser(ctx context.Context, user *entityUser.User) (int, *w_resp.AppError)
	GetUserById(ctx context.Context, id int) (*entityUser.User, *w_resp.AppError)
}

type IJwt interface {
	ParseToken(ctx context.Context, tokenStr string) (*w_utils.JwtClaims, error)
	IssueAccessToken(ctx context.Context, sub string, tid string) (*w_utils.Token, error)
	IssueRefreshToken(ctx context.Context, sub string, tid string) (*w_utils.Token, error)
	IssueTokenPair(ctx context.Context, sub string, tid string) (*w_utils.TokenResponse, error)
}

type AuthUseCase struct {
	Config              *config.Config
	TxManager           w_utils.TxManager
	Jwt                 IJwt
	UserUseCase         IUserUseCase
	Hash                IHash
	AuthReponsitory     IAuthReponsitory
	RefreshTokenUseCase IRefreshTokenUsecase

	SessionService   *w_utils.SessionService
	BlacklistService *w_utils.BlacklistService
}

func NewAuthUseCase(
	jwt IJwt,
	userUseCase IUserUseCase,
	hash IHash,
	authReponsitory IAuthReponsitory,
	refreshTokenUseCase IRefreshTokenUsecase,
	txManager w_utils.TxManager,
	sessionService *w_utils.SessionService,
	blacklistService *w_utils.BlacklistService,
	config *config.Config,
) *AuthUseCase {
	return &AuthUseCase{
		Config:              config,
		Jwt:                 jwt,
		UserUseCase:         userUseCase,
		Hash:                hash,
		AuthReponsitory:     authReponsitory,
		RefreshTokenUseCase: refreshTokenUseCase,
		TxManager:           txManager,

		SessionService:   sessionService,
		BlacklistService: blacklistService,
	}
}
