package refresh

import (
	"context"
	"errors"
	entityRefresh "{{.ModuleName}}/internal/entity/refresh"
	//"{{.ModuleName}}/internal/utils"
	"time"

	u_response "github.com/DVV-15324/witches/pkg/core/response_logger"
)

// GetByToken - Lấy refresh token theo token string
func (uc *RefreshUseCase) GetByToken(ctx context.Context, token string) (*entityRefresh.RefreshToken, *u_response.ErrorResponse) {
	if token == "" {
		return nil, u_response.NewErrorResponse(400, errors.New("token cannot be empty"), time.Now())
	}
	// Get from repository (có cache)
	storedToken, err := uc.RefreshTokenRepo.GetByToken(ctx, token)
	if err != nil {
		return nil, u_response.NewErrorResponse(500, err, time.Now())
	}
	if storedToken == nil {
		return nil, u_response.NewErrorResponse(404, errors.New("token not found"), time.Now())
	}

	return storedToken, nil
}
