package refresh

import (
	"context"
	u_jwt "{{.ModuleName}}//internal/utils"
	u_response "github.com/DVV-15324/witches/pkg/core/response_logger"
	"time"
)

// IntrospectToken - Kiểm tra token
func (uc *RefreshUseCase) IntrospectToken(ctx context.Context, accessToken string) (*u_jwt.JwtClaims, *u_response.ErrorResponse) {
	// Parse token
	claims, err := uc.Jwt.ParseToken(ctx, accessToken)
	if err != nil {
		return nil, u_response.NewErrorResponse(401, err, time.Now())
	}

	return claims, nil
}
