package repository

import (
	"context"

	"errors"
	"time"

	modelRefresh "{{.ModuleName}}/internal/refresh/model"
	mapping "{{.ModuleName}}/internal/refresh/mapping"
	domainRefresh "{{.ModuleName}}/internal/shared/domain"

	"gorm.io/gorm"
)

func (r *RefreshTokenRepository) GetByToken(ctx context.Context, token string) (*domainRefresh.RefreshToken, error) {
	// 1. Check cache
	cached, err := r.getCachedToken(ctx, token)
	if err == nil && cached != nil {
		domainRefresh := mapping.FromModelToDomainRefresh(cached)
		return domainRefresh, nil
	}

	// 2. Query DB
	var rt modelRefresh.RefreshToken
	err = r.db.WithContext(ctx).Where("token = ?", token).First(&rt).Error
	if err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			// Cache "not found" để tránh cache penetration
			r.cacheNotFound(ctx, token)
			return nil, nil
		}
		return nil, err
	}

	// 3. Cache kết quả
	if !rt.Revoked && time.Now().Before(time.Unix(rt.ExpiresAt, 0)) {
		r.cacheToken(ctx, &rt)
	}
	domainRefresh := mapping.FromModelToDomainRefresh(&rt)
	return domainRefresh, nil
}
