package user

import (
	"context"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"
	entityUser "{{.ModuleName}}/internal/entity/user"
)

// interface
type IUserResponsitory interface {
	CreateUser(cxt context.Context, user *entityUser.User) (int, error)
	GetUserById(ctx context.Context, id int) (*entityUser.User, error)
	GetAllUser(ctx context.Context) ([]*entityUser.User, error)
}

type UserUseCase struct {
	TxManager        w_utils.TxManager
	UserResponsitory IUserResponsitory
}

func NewUserUsecase(UserResponsitory IUserResponsitory, txManager w_utils.TxManager) *UserUseCase {
	return &UserUseCase{
		UserResponsitory: UserResponsitory,
		TxManager:        txManager,
	}
}
