package user

import (
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"
	dtoUser "{{.ModuleName}}/internal/dto/user/response"
	mapping "{{.ModuleName}}/internal/mapping"
	utils "{{.ModuleName}}/internal/utils"

	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	"github.com/gin-gonic/gin"
)

func (h *UserHandle) HandleGetAllUser() func(c *gin.Context) {
	return func(c *gin.Context) {
		user, resp := h.UserUseCase.GetAllUser(c)
		if resp != nil {
			w_resp.WriteError(c, h.Log, resp)
			return
		}
		//Chuyển user từ entity -> dto
		dto := []*dtoUser.User{}
		for i := 0; i < len(user); i++ {
			dto = append(dto, mapping.FromEntityToDtoUser(user[i]))
		}
		w_resp.WriteSuccess(c, dto)
	}
}

func (h *UserHandle) HandleGetUserById() func(c *gin.Context) {
	return func(c *gin.Context) {
		//uid := shared.DecodeFromBase58(id)
		id := w_utils.GetRequestContext(c.Request.Context(), utils.ReqKey).Sub
		uid := utils.DecodeFromBase58(id)
		user, resp := h.UserUseCase.GetUserById(c, int(uid.LocalID))
		if resp != nil {
			w_resp.WriteError(c, h.Log, resp)
			return
		}
		dto := &dtoUser.User{}
		dto = mapping.FromEntityToDtoUser(user)
		w_resp.WriteSuccess(c, dto)
	}
}
