package usecase

import (
	"context"
	"time"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
)

func (u *{{.NameCap}}Usecase) Delete(ctx context.Context, id int) *w_resp.AppError {
	err := u.repo.Delete(ctx, id)
	if err != nil {
		resp := w_resp.NewAppError(500, err, time.Now())
		return resp
	}
	return nil
}