package usecase

import (
	"context"
	domainAuth "{{.ModuleName}}/internal/shared/domain"
	domainRefresh "{{.ModuleName}}/internal/shared/domain"
	domainUser "{{.ModuleName}}/internal/shared/domain"
	wcmd_utils "github.com/DVV-15324/witches/cmd/utils"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"
)

type IRefreshTokenRepository interface {
	Create(ctx context.Context, token *domainRefresh.RefreshToken) error
	GetByToken(ctx context.Context, token string) (*domainRefresh.RefreshToken, error)
	Revoke(ctx context.Context, token string, reason string) error
}

type IJwt interface {
	ParseToken(ctx context.Context, tokenStr string) (*w_utils.JwtClaims, error)
	IssueAccessToken(ctx context.Context, sub string, tid string) (*w_utils.Token, error)
	IssueRefreshToken(ctx context.Context, sub string, tid string) (*w_utils.Token, error)
	IssueTokenPair(ctx context.Context, sub string, tid string) (*w_utils.TokenResponse, error)
}

type IAuthUsecase interface {
	GetAuthByUserId(ctx context.Context, userId int) (*domainAuth.Auth, *w_resp.AppError)
	GetAuthByEmail(ctx context.Context, email string) (*domainAuth.Auth, *w_resp.AppError)
}

type IUserUseCase interface {
	CreateUser(ctx context.Context, user *domainUser.User) (int, *w_resp.AppError)
	GetUserById(ctx context.Context, id int) (*domainUser.User, *w_resp.AppError)
}

type RefreshUseCase struct {
	Jwt              IJwt
	AuthUsecase      IAuthUsecase
	RefreshTokenRepo IRefreshTokenRepository
	UserUseCase      IUserUseCase
	SessionService   *w_utils.SessionService
	BlacklistService *w_utils.BlacklistService
	Config           *wcmd_utils.Config
}

func NewRefreshUseCase(userUseCase IUserUseCase, refreshTokenRepo IRefreshTokenRepository, jwt IJwt, sessionService *w_utils.SessionService,
	blacklistService *w_utils.BlacklistService, config *wcmd_utils.Config) *RefreshUseCase {
	return &RefreshUseCase{
		UserUseCase:      userUseCase,
		Jwt:              jwt,
		RefreshTokenRepo: refreshTokenRepo,
		SessionService:   sessionService,
		BlacklistService: blacklistService,
		Config:           config,
	}
}

func (r *RefreshUseCase) SetAuthUseCase(authUsecase IAuthUsecase) *RefreshUseCase {
	return &RefreshUseCase{
		AuthUsecase: authUsecase,
	}
}
