package usecase

import (
	"context"
	domainAuth "{{.ModuleName}}/internal/shared/domain"
	domainRefresh "{{.ModuleName}}/internal/shared/domain"
	domainUser "{{.ModuleName}}/internal/shared/domain"
	wcmd_utils "github.com/DVV-15324/witches/cmd/utils"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
)

type IRefreshTokenRepository interface {
	Create(ctx context.Context, token *domainRefresh.RefreshToken) error
	GetByToken(ctx context.Context, token string) (*domainRefresh.RefreshToken, error)
	Revoke(ctx context.Context, token string, reason string) error
	GetByJKT(ctx context.Context, JKT string) (*domainRefresh.RefreshToken, error)
}

type IAuthUsecase interface {
	GetAuthByUserId(ctx context.Context, userId int64) (*domainAuth.Auth, *w_resp.AppError)
	GetAuthByEmail(ctx context.Context, email string) (*domainAuth.Auth, *w_resp.AppError)
}

type IUserUseCase interface {
	CreateUser(ctx context.Context, user *domainUser.User) (int64, *w_resp.AppError)
	GetUserById(ctx context.Context, id int64) (*domainUser.User, *w_resp.AppError)
}

type RefreshUseCase struct {
	Core             *core.CoreServices
	AuthUsecase      IAuthUsecase
	RefreshTokenRepo IRefreshTokenRepository
	UserUseCase      IUserUseCase
}

func NewRefreshUseCase(core *core.CoreServices, userUseCase IUserUseCase, refreshTokenRepo IRefreshTokenRepository) *RefreshUseCase {
	return &RefreshUseCase{
		UserUseCase:      userUseCase,
		RefreshTokenRepo: refreshTokenRepo,
		Core:             core,
	}
}

func (r *RefreshUseCase) SetAuthUseCase(authUsecase IAuthUsecase) {
	r.AuthUsecase = authUsecase
}
