package repository

import (
	"context"
	"errors"
	modelAuth "{{.ModuleName}}/internal/auth/model"
	"{{.ModuleName}}/internal/auth/mapping"
	domainAuth "{{.ModuleName}}/internal/shared/domain"

	"gorm.io/gorm"
)

func (r *AuthRepository) GetAuthByEmail(ctx context.Context, email string) (*domainAuth.Auth, error) {
	// 1. Check cache
	auth, err := r.getAuthFromCacheByEmail(ctx, email)
	if err == nil && auth != nil {
		domainA := mapping.FromModelToDomainAuth(auth)
		return domainA, nil
	}

	// 2. Query DB
	var data modelAuth.Auth
	err = r.core.DB.WithContext(ctx).Where("email = ?", email).First(&data).Error
	if err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			return nil, nil
		}
		return nil, err

	}
	r.cacheAuth(ctx, &data)
	domainA := mapping.FromModelToDomainAuth(&data)
	return domainA, nil
}
func (r *AuthRepository) GetAuthByUserId(ctx context.Context, userID uint32) (*domainAuth.Auth, error) {
	// 1. Check cache
	auth, err := r.getAuthFromCacheByUserID(ctx, userID)
	if err == nil && auth != nil {
		domainA := mapping.FromModelToDomainAuth(auth)
		return domainA, nil
	} else {
		// 2. Query DB
		var data modelAuth.Auth
		err = r.core.DB.WithContext(ctx).Where("user_id = ?", userID).First(&data).Error
		if err != nil {
			if errors.Is(err, gorm.ErrRecordNotFound) {

				return nil, nil
			}
			return nil, err
		}
		r.cacheAuth(ctx, &data)
		domainA := mapping.FromModelToDomainAuth(&data)
		return domainA, nil
	}

}
