package repository

import (
	"context"

	modelAuth "{{.ModuleName}}/internal/auth/model"
	"{{.ModuleName}}/internal/auth/mapping"
	domainAuth "{{.ModuleName}}/internal/shared/domain"
)

func (r *AuthRepository) UpdateAuth(ctx context.Context, modleAuth *domainAuth.Auth) error {
	auth := mapping.FromDomainToModelAuth(modleAuth)
	// Lấy old auth để invalidate cache
	var oldAuth modelAuth.Auth
	r.db.WithContext(ctx).Where("email = ?", auth.Email).First(&oldAuth)

	result := r.db.WithContext(ctx).Domain(&modelAuth.Auth{}).
		Where("email = ?", auth.UserId).
		Updates(map[string]interface{}{
			"password":  auth.Password,
			"salt":      auth.Salt,
			"banned":    auth.Banned,
			"auth_type": auth.AuthType,
		})
	if result.Error != nil {
		return result.Error
	}

	// // Invalidate cache cũ và cache mới
	go func() {
		r.invalidateAuthCache(context.Background(), oldAuth.Email, uint32(oldAuth.UserId))
		r.cacheAuth(context.Background(), auth)
	}()

	return nil
}
