package refresh

// import (
// 	"context"
// 	u_response "github.com/DVV-15324/witches/pkg/core/response_logger"
// 	"time"
// )

// // DeleteExpired - Xóa refresh token đã hết hạn (cron job)
// func (uc *RefreshUseCase) DeleteExpired(ctx context.Context) *u_response.ErrorResponse {
// 	if err := uc.RefreshTokenRepo.DeleteExpired(ctx); err != nil {
// 		return u_response.NewErrorResponse(500, err, time.Now())
// 	}
// 	return nil
// }
