package handler

import (
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	"github.com/gin-gonic/gin"
	"strconv"
	"time"
)

func (h *{{.NameCap}}Handler) Delete() func(*gin.Context) {
	return func(ctx *gin.Context) {
		id, err := strconv.Atoi(ctx.Param("id"))
		if err != nil {
			resp := w_resp.NewAppError(400, err, time.Now())
			w_resp.WriteErrorWithLog(ctx, h.Log, h.Cfg, resp)
			return
		}

		err_d := h.usecase.Delete(ctx.Request.Context(), id)
		if err_d != nil {
			w_resp.WriteErrorWithLog(ctx, h.Log, h.Cfg, err_d)
			return
		}
		w_resp.WriteSuccess(ctx, "xoa thanh cong")
	}
}
