package handler

import (
	"time"
	mapping "{{.ModuleName}}/internal/{{.FolderName}}/mapping"
	"strconv"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	"github.com/gin-gonic/gin"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"
)

func (h *{{.NameCap}}Handler) GetByID(c *gin.Context) {
	id, err := strconv.Atoi(c.Param("id"))
	if err != nil {
		resp := w_resp.NewAppError(400, err, time.Now())
		w_resp.WriteErrorWithLog(c, h.Log, h.Cfg, resp)
		return
	}

	data, err_get := h.usecase.GetByID(c.Request.Context(), id)
	if err_get != nil {
		w_resp.WriteErrorWithLog(c, h.Log, h.Cfg, err_get)
		return
	}
	dto := mapping.FromDomainToDto{{.NameCap}}(data)
	w_resp.WriteSuccess(c, dto)
}


func (h *{{.NameCap}}Handler) GetAll(c *gin.Context) {
	req := w_utils.PaginationRequest{}
	data, total, err := h.usecase.GetAll(c.Request.Context(), &req)
	if err != nil {
		w_resp.WriteErrorWithLog(c, h.Log, h.Cfg, err)
		return
	}
	dto := mapping.FromDomainToDto{{.NameCap}}List(data)
	paginationResp := req.ToPaginationResponse(total)
	w_resp.WriteSuccessWithPagination(c, dto, &paginationResp)
}
