package handler

import (
	"context"
	"github.com/DVV-15324/witches/pkg/core/response/logger"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	domain{{.NameCap}} "{{.ModuleName}}/internal/shared/domain"
	wcmd_utils "github.com/DVV-15324/witches/cmd/utils"

)
type I{{.NameCap}}Usecase interface {
	Create(ctx context.Context, req *domain{{.NameCap}}.{{.NameCap}}) (*w_resp.AppError)
	GetByID(ctx context.Context, id int) (*domain{{.NameCap}}.{{.NameCap}}, *w_resp.AppError)
	GetAll(ctx context.Context) ([]*domain{{.NameCap}}.{{.NameCap}}, int64, *w_resp.AppError)
	Update(ctx context.Context, id int, req *domain{{.NameCap}}.{{.NameCap}}) (*w_resp.AppError)
	Delete(ctx context.Context, id int) *w_resp.AppError
}
type {{.NameCap}}Handler struct {
	Log         *logger.ModelLogger
	usecase I{{.NameCap}}Usecase
	Cfg     *wcmd_utils.Config
}

// New{{.NameCap}}Handler - Constructor
func New{{.NameCap}}Handler(usecase I{{.NameCap}}Usecase, log *logger.ModelLogger, Cfg *wcmd_utils.Config) *{{.NameCap}}Handler {
	return &{{.NameCap}}Handler{
	usecase: usecase,
	Log:         log,
	Cfg         :Cfg,
	}
}