package handler

import (
	model "{{.ModuleName}}/internal/shared/model"

	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	"github.com/DVV-15324/witches/pkg/core/response/logger"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"

	"context"
)

type IUserUseCase interface {
	GetAllUser(ctx context.Context, req *w_utils.PaginationRequest) ([]*model.User, int64, *w_resp.AppError)
	GetUserById(ctx context.Context, id int) (*model.User, *w_resp.AppError)
}
type UserHandle struct {
	Log         *logger.EntityLogger
	UserUseCase IUserUseCase
}

func NewUserHandle(userUseCase IUserUseCase, log *logger.EntityLogger) *UserHandle {
	return &UserHandle{
		Log:         log,
		UserUseCase: userUseCase,
	}
}
