package refresh

import (
	u_jwt "{{.ModuleName}}//internal/utils"
	u_response "github.com/DVV-15324/witches/pkg/core/response_logger"
	"github.com/DVV-15324/witches/pkg/core/response_logger/logger"

	"context"
)

type IRefreshUseCase interface {
	Refresh(ctx context.Context, refreshTokenStr, deviceID string) (*u_jwt.Token, *u_response.ErrorResponse)
}
type RefreshHandle struct {
	Log            *logger.EntityLogger
	RefreshUsecase IRefreshUseCase
}

func NewRefreshHandle(refreshseCase IRefreshUseCase, log *logger.EntityLogger) *RefreshHandle {
	return &RefreshHandle{
		RefreshUsecase: refreshseCase,
		Log:            log,
	}
}
