package refresh

import (
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	w_logger "github.com/DVV-15324/witches/pkg/core/response/logger"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"

	"context"
)

type IRefreshUseCase interface {
	Refresh(ctx context.Context, refreshTokenStr, deviceID string) (*w_utils.Token, *w_resp.ErrorResponse)
}
type RefreshHandle struct {
	Log            *w_logger.EntityLogger
	RefreshUsecase IRefreshUseCase
}

func NewRefreshHandle(refreshseCase IRefreshUseCase, log *w_logger.EntityLogger) *RefreshHandle {
	return &RefreshHandle{
		RefreshUsecase: refreshseCase,
		Log:            log,
	}
}
