package auth

import (
	dtoAuth "{{.ModuleName}}/internal/dto/auth/request"
	entityAuth "{{.ModuleName}}/internal/entity/auth"
	mapping "{{.ModuleName}}/internal/mapping"
	u_response "github.com/DVV-15324/witches/pkg/core/response_logger"
	"time"

	"github.com/gin-gonic/gin"
)

func (h *HandleAuth) HandleRegister() func(c *gin.Context) {
	return func(c *gin.Context) {
		var data dtoAuth.Register
		// xac thuc
		err_valid := data.Validate()
		if err_valid != nil {
			resq := u_response.NewErrorResponse(401, err_valid, time.Now())
			u_response.WriteError(c, h.Log, resq)
		}
		//lấy dữ liệu
		err := c.ShouldBindJSON(&data)
		if err != nil {
			resq := u_response.NewErrorResponse(401, err, time.Now())
			u_response.WriteError(c, h.Log, resq)
			return
		}
		entity := &entityAuth.Auth{}

		//Chuyển dto sang entity
		entity = mapping.FromRegisterToEntityAuth(&dtoAuth.Register{})
		nameUser := data.Name

		// dang ki
		resq := h.UsecaseAuth.UsecaseRegister(c, entity, nameUser)
		if resq != nil {
			u_response.WriteError(c, h.Log, resq)
			return
		}
		u_response.WriteSuccess(c, "Dang ki thanh cong")
	}
}
