package refresh

import "time"

type SessionInfo struct {
	DeviceID   string    `json:"device_id"`
	DeviceName string    `json:"device_name"`
	IPAddress  string    `json:"ip_address"`
	CreatedAt  time.Time `json:"created_at"`
	ExpiresAt  int64     `json:"expires_at"`
	IsActive   bool      `json:"is_active"`
}

type SessionCache struct {
	UserID      uint32 `json:"user_id"`
	Email       string `json:"email"`
	Role        string `json:"role"`
	DeviceID    string `json:"device_id"`
	DeviceName  string `json:"device_name"`
	IPAddress   string `json:"ip_address"`
	UserAgent   string `json:"user_agent"`
	AccessToken string `json:"access_token"`
	LoginAt     int64  `json:"login_at"`
}
