package mapping

import (
	domain{{.NameCap}} "{{.ModuleName}}/internal/shared/domain"
	"{{.ModuleName}}/internal/shared/utils"
	dto{{.NameCap}} "{{.ModuleName}}/internal/{{.Name}}/dto/response"
	model{{.NameCap}} "{{.ModuleName}}/internal/{{.Name}}/model"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"
)

// DTO ↔ Domain

func FromDtoToDomain{{.NameCap}}(dto *dto{{.NameCap}}.{{.NameCap}}) *domain{{.NameCap}}.{{.NameCap}} {
	if dto == nil {
		return nil
	}
	return &domain{{.NameCap}}.{{.NameCap}}{
		ID:        int(utils.DecodeFromBase58(dto.ID).LocalID),
		CreatedAt: dto.CreatedAt,
		UpdatedAt: dto.UpdatedAt,
	}
}

// List DTO → List domain (dùng generic)
func FromDtoToDomain{{.NameCap}}List(dtos []*dto{{.NameCap}}.{{.NameCap}}) []*domain{{.NameCap}}.{{.NameCap}} {
	return w_utils.MapPtrSlice(dtos, FromDtoToDomain{{.NameCap}})
}

//  Domain ↔ Model

func FromDomainToModel{{.NameCap}}(domain *domain{{.NameCap}}.{{.NameCap}}) *model{{.NameCap}}.{{.NameCap}} {
	if domain == nil {
		return nil
	}
	return &model{{.NameCap}}.{{.NameCap}}{
		ID:        domain.ID,
		CreatedAt: domain.CreatedAt,
		UpdatedAt: domain.UpdatedAt,
	}
}

// List Domain → List Model (dùng generic)
func FromDomainToModel{{.NameCap}}List(domains []*domain{{.NameCap}}.{{.NameCap}}) []*model{{.NameCap}}.{{.NameCap}} {
	return w_utils.MapPtrSlice(domains, FromDomainToModel{{.NameCap}})
}

func FromModelToDomain{{.NameCap}}(model *model{{.NameCap}}.{{.NameCap}}) *domain{{.NameCap}}.{{.NameCap}} {
	if model == nil {
		return nil
	}
	return &domain{{.NameCap}}.{{.NameCap}}{
		ID:        model.ID,
		CreatedAt: model.CreatedAt,
		UpdatedAt: model.UpdatedAt,
	}
}

// List Model → List Domain (dùng generic)
func FromModelToDomain{{.NameCap}}List(entities []*model{{.NameCap}}.{{.NameCap}}) []*domain{{.NameCap}}.{{.NameCap}} {
	return w_utils.MapPtrSlice(entities, FromModelToDomain{{.NameCap}})
}

// List Domain → List DTO
func FromDomainToDto{{.NameCap}}(domain *domain{{.NameCap}}.{{.NameCap}}) *dto{{.NameCap}}.{{.NameCap}} {
	if domain == nil {
		return nil
	}
	return &dto{{.NameCap}}.{{.NameCap}}{
		ID:        utils.NewUID(uint32(domain.ID), utils.Object{{.NameCap}}).ToBase58(),
		CreatedAt: domain.CreatedAt,
		UpdatedAt: domain.UpdatedAt,
	}
}

// List Domain → List DTO (dùng generic)
func FromDomainToDto{{.NameCap}}List(domains []*domain{{.NameCap}}.{{.NameCap}}) []*dto{{.NameCap}}.{{.NameCap}} {
	return w_utils.MapPtrSlice(domains, FromDomainToDto{{.NameCap}})
}
