package mapping

import (
	domain{{.NameCap}} "{{.ModuleName}}/internal/shared/domain"
	"{{.ModuleName}}/internal/shared/utils"
	dto{{.NameCap}} "{{.ModuleName}}/internal/{{.Name}}-service/dto/response"
	entity{{.NameCap}} "{{.ModuleName}}/internal/{{.Name}}-service/entity"
)

// DTO ↔ Domain

func FromDtoToDomain{{.NameCap}}(dto *dto{{.NameCap}}.{{.NameCap}}) *domain{{.NameCap}}.{{.NameCap}} {
	if dto == nil {
		return nil
	}
	return &domain{{.NameCap}}.{{.NameCap}}{
		ID:        int(utils.DecodeFromBase58(dto.ID).LocalID),
		CreatedAt: dto.CreatedAt,
		UpdatedAt: dto.UpdatedAt,
	}
}

// List DTO → List domain (dùng generic)
func FromDtoToDomain{{.NameCap}}List(dtos []*dto{{.NameCap}}.{{.NameCap}}) []*domain{{.NameCap}}.{{.NameCap}} {
	return utils.MapPtrSlice(dtos, FromDtoTodomain{{.NameCap}})
}

//  Domain ↔ Entity

func FromdomainToEntity{{.NameCap}}(domain *domain{{.NameCap}}.{{.NameCap}}) *entity{{.NameCap}}.{{.NameCap}} {
	if domain == nil {
		return nil
	}
	return &entity{{.NameCap}}.{{.NameCap}}{
		ID:        domain.ID,
		CreatedAt: domain.CreatedAt,
		UpdatedAt: domain.UpdatedAt,
	}
}

// List Domain → List Entity (dùng generic)
func FromDomainToEntity{{.NameCap}}List(domains []*domain{{.NameCap}}.{{.NameCap}}) []*entity{{.NameCap}}.{{.NameCap}} {
	return utils.MapPtrSlice(domains, FromDomainToEntity{{.NameCap}})
}

func FromEntityToDomain{{.NameCap}}(entity *entity{{.NameCap}}.{{.NameCap}}) *domain{{.NameCap}}.{{.NameCap}} {
	if entity == nil {
		return nil
	}
	return &domain{{.NameCap}}.{{.NameCap}}{
		ID:        entity.ID,
		CreatedAt: entity.CreatedAt,
		UpdatedAt: entity.UpdatedAt,
	}
}

// List Entity → List Domain (dùng generic)
func FromEntityToDomain{{.NameCap}}List(entities []*entity{{.NameCap}}.{{.NameCap}}) []*domain{{.NameCap}}.{{.NameCap}} {
	return utils.MapPtrSlice(entities, FromEntityToDomain{{.NameCap}})
}

// List Domain → List DTO
func FromDomainToDto{{.NameCap}}(domain *domain{{.NameCap}}.{{.NameCap}}) *dto{{.NameCap}}.{{.NameCap}} {
	if domain == nil {
		return nil
	}
	return &dto{{.NameCap}}.{{.NameCap}}{
		ID:        utils.NewUID(uint32(domain.ID), utils.Object{{.NameCap}}).ToBase58(),
		CreatedAt: domain.CreatedAt,
		UpdatedAt: domain.UpdatedAt,
	}
}

// List Domain → List DTO (dùng generic)
func FromDomainToDto{{.NameCap}}List(domains []*domain{{.NameCap}}.{{.NameCap}}) []*dto{{.NameCap}}.{{.NameCap}} {
	return utils.MapPtrSlice(domains, FromDomainToDto{{.NameCap}})
}
