package repository

import (
	"context"
	domain{{.NameCap}} "{{.ModuleName}}/internal/shared/domain"
	"{{.ModuleName}}/internal/{{.FolderName}}/mapping"
)

func (r *{{.NameCap}}Repository) Create(ctx context.Context, e *domain{{.NameCap}}.{{.NameCap}}) (error) {
	entity := mapping.FromDomainToEntity{{.NameCap}}(e)
	err := r.db.WithContext(ctx).Create(entity).Error
	return err
}