package user

import (
	"context"
	"errors"

	entityUser "{{.ModuleName}}/internal/entity/user"

	"gorm.io/gorm"
)

func (u *UserRepository) GetAllUser(ctx context.Context) ([]*entityUser.User, error) {
	var users []*entityUser.User

	err := u.db.WithContext(ctx).Find(&users).Error
	if err != nil {
		return nil, err
	}

	return users, nil
}

func (u *UserRepository) GetUserById(ctx context.Context, id int) (*entityUser.User, error) {
	var data entityUser.User

	err := u.db.WithContext(ctx).First(&data, id).Error
	if err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			return nil, nil
		}
		return nil, err
	}

	return &data, nil
}
