package user

import (
	"context"
	u_tx "github.com/DVV-15324/witches/pkg/core/utils"
	"gorm.io/gorm"
)

type UserRepository struct {
	db        *gorm.DB
	TxManager u_tx.TxManager
}

func NewUserRepository(db *gorm.DB, txManager u_tx.TxManager) *UserRepository {
	return &UserRepository{
		db:        db,
		TxManager: txManager,
	}
}

func (u *UserRepository) getDB(ctx context.Context) *gorm.DB {
	tx, err := u_tx.GetTxFromContext(ctx)
	if err == nil {
		return tx // Dùng transaction
	}
	return u.db // Dùng db thường
}
