package repository

import (
	"context"
	domain{{.NameCap}} "{{.ProjectName}}/internal/shared/domain"
	"{{.ProjectName}}/internal/{{.Name}}/mapping"
)

func (r *{{.NameCap}}Repository) Create(ctx context.Context, e *domain{{.NameCap}}.{{.NameCap}}) (error) {
	model := mapping.FromDomainToModel{{.NameCap}}(e)
	err := r.db.WithContext(ctx).Create(model).Error
	return err
}