package repository

import (
	"context"
	model{{.NameCap}} "{{.ProjectName}}/internal/{{.Name}}/model"
)

func (r *{{.NameCap}}Repository) Delete(ctx context.Context, id int) error {
	return r.core.DB.WithContext(ctx).Delete(&model{{.NameCap}}.{{.NameCap}}{}, id).Error
}