package repository

import (
	"context"
	"{{.ProjectName}}/internal/{{.Name}}/mapping"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"
	domain{{.NameCap}} "{{.ProjectName}}/internal/shared/domain"
	model{{.NameCap}} "{{.ProjectName}}/internal/{{.Name}}/model"
)

func (r *{{.NameCap}}Repository) GetByID(ctx context.Context, id int) (*domain{{.NameCap}}.{{.NameCap}}, error) {
	var e model{{.NameCap}}.{{.NameCap}}
	err := r.db.WithContext(ctx).First(&e, id).Error
	domain := mapping.FromModelToDomain{{.NameCap}}(&e)
	return domain, err
}

func (r *{{.NameCap}}Repository) GetAll(ctx context.Context, req *w_utils.PaginationRequest) ([]*domain{{.NameCap}}.{{.NameCap}}, int64, error) {
	var list []*model{{.NameCap}}.{{.NameCap}}
	var total int64

	query := r.db.WithContext(ctx).Model(&model{{.NameCap}}.{{.NameCap}}{})

	// Search filter
	if req.Search != "" {
		search := "%" + req.Search + "%"
		query = query.Where("id ILIKE", search, search)
	}

	// Count total
	if err := query.Count(&total).Error; err != nil {
		return nil, 0, err
	}

	// Apply sorting
	sort := req.GetSort("created_at")
	order := req.GetOrder("desc")
	query = query.Order(sort + " " + order)

	// Apply pagination
	if err := query.Scopes(req.GormScope()).Find(&list).Error; err != nil {
		return nil, 0, err
	}
	//mapping
	domainsMapping := mapping.FromModelToDomain{{.NameCap}}List(list)
	return domainsMapping, total, nil
}