package repository

import (
	"context"
	"{{.ModuleName}}/internal/{{.FolderName}}/mapping"
	domain{{.NameCap}} "{{.ModuleName}}/internal/shared/domain"
)

func (r *{{.NameCap}}Repository) Update(ctx context.Context, e *domain{{.NameCap}}.{{.NameCap}}, id int) error {
	model := mapping.FromDomainToModel{{.NameCap}}(e)
	return r.db.WithContext(ctx).Save(model).Error
}