package mapping

import (
	modelRefresh "{{.ModuleName}}/internal/refresh/model"
	domainRefresh "{{.ModuleName}}/internal/shared/domain"
)

func FromDomainToModelRefresh(domain *domainRefresh.RefreshToken) *modelRefresh.RefreshToken {
	return &modelRefresh.RefreshToken{
		ID:            domain.ID,
		UserID:        domain.UserID,
		Token:         domain.Token,
		DeviceID:      domain.DeviceID,
		IPAddress:     domain.IPAddress,
		UserAgent:     domain.UserAgent,
		ExpiresAt:     domain.ExpiresAt,
		Revoked:       domain.Revoked,
		RevokedAt:     domain.RevokedAt,
		RevokedReason: domain.RevokedReason,
		Locale:        domain.Locale,
		Timezone:      domain.Timezone,
		CreatedAt:     domain.CreatedAt,
		UpdatedAt:     domain.UpdatedAt,
	}
}

func FromModelToDomainRefresh(model *modelRefresh.RefreshToken) *domainRefresh.RefreshToken {
	return &domainRefresh.RefreshToken{
		ID:            model.ID,
		UserID:        model.UserID,
		Token:         model.Token,
		DeviceID:      model.DeviceID,
		IPAddress:     model.IPAddress,
		UserAgent:     model.UserAgent,
		ExpiresAt:     model.ExpiresAt,
		Revoked:       model.Revoked,
		RevokedAt:     model.RevokedAt,
		RevokedReason: model.RevokedReason,
		Locale:        model.Locale,
		Timezone:      model.Timezone,
		CreatedAt:     model.CreatedAt,
		UpdatedAt:     model.UpdatedAt,
	}
}
