package mapping

import (
	entityRefresh "{{.ModuleName}}/internal/refresh/entity"
	modelRefresh "{{.ModuleName}}/internal/shared/model"
)

func FromModelToEntityRefresh(model *modelRefresh.RefreshToken) *entityRefresh.RefreshToken {
	return &entityRefresh.RefreshToken{
		ID:            model.ID,
		UserID:        model.UserID,
		Token:         model.Token,
		DeviceID:      model.DeviceID,
		IPAddress:     model.IPAddress,
		UserAgent:     model.UserAgent,
		ExpiresAt:     model.ExpiresAt,
		Revoked:       model.Revoked,
		RevokedAt:     model.RevokedAt,
		RevokedReason: model.RevokedReason,
		Locale:        model.Locale,
		Timezone:      model.Timezone,
		CreatedAt:     model.CreatedAt,
		UpdatedAt:     model.UpdatedAt,
	}
}

func FromEntityToModelRefresh(entity *entityRefresh.RefreshToken) *modelRefresh.RefreshToken {
	return &modelRefresh.RefreshToken{
		ID:            entity.ID,
		UserID:        entity.UserID,
		Token:         entity.Token,
		DeviceID:      entity.DeviceID,
		IPAddress:     entity.IPAddress,
		UserAgent:     entity.UserAgent,
		ExpiresAt:     entity.ExpiresAt,
		Revoked:       entity.Revoked,
		RevokedAt:     entity.RevokedAt,
		RevokedReason: entity.RevokedReason,
		Locale:        entity.Locale,
		Timezone:      entity.Timezone,
		CreatedAt:     entity.CreatedAt,
		UpdatedAt:     entity.UpdatedAt,
	}
}
