package routers

import (
	middleware "{{.ModuleName}}/internal/middleware"

	w_handl "github.com/DVV-15324/witches/pkg/core/handler"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	limiter "github.com/ulule/limiter/v3"
)

// En: This function groups the routes that need to be authenticated together.
//
// Vi: Hàm nhóm các routes cần xác thực với nhau.
func setupProtectedRoutes(gen *w_handl.SwaggerGenerator, services *HandleServices, limiterRate *limiter.Rate) {
	// En: Auth middleware
	// Vi: Middleware
	authMW := middleware.AuthMiddleware(
		services.UsecaseRefresh,
		services.Session,
		services.Blacklist,
		services.Logger,
	)

	// En: Logout
	// Vi: Đăng xuất
	gen.POST("/v1/auth/logout").
		Summary("User logout").
		Description("Logout user and invalidate JWT token").
		Tags("auth").
		HeaderParam("User-Agent", "User-Agent", false).
		HeaderParam("Accept-Language", "Preferred language (e.g., vi-VN, en-US)", false).
		HeaderParam("X-Timezone", "Timezone (e.g., Asia/Ho_Chi_Minh)", false).
		RateLimit(*limiterRate).
		HeaderParam("Authorization", "Bearer token for authentication", false).
		Response(200, w_resp.ResponseHandle{}, "Logout successful").
		Response(401, w_resp.ResponseHandle{}, "Unauthorized").
		Use(authMW).
		Handler(services.HandleAuth.HandleLogout()).
		Build()

	// En: Get user by ID
	// Vi: Lấy người dùng theo ID
	gen.POST("/v1/user/get_user").
		Summary("Get user by ID").
		Description("Get user details by user ID").
		Tags("user").
		HeaderParam("User-Agent", "User-Agent", false).
		HeaderParam("Accept-Language", "Preferred language (e.g., vi-VN, en-US)", false).
		HeaderParam("X-Timezone", "Timezone (e.g., Asia/Ho_Chi_Minh)", false).
		RateLimit(*limiterRate).
		HeaderParam("Authorization", "Bearer token for authentication", false).
		Body(map[string]int{"id": 0}, "User ID").
		Response(200, w_resp.ResponseHandle{}, "User found").
		Response(404, w_resp.ResponseHandle{}, "User not found").
		Use(authMW).
		Handler(services.HandleUser.HandleGetUserById()).
		Build()

	// En: Get all users
	// Vi: Lấy tất cả người dùng
	gen.POST("/v1/user/get_user_all").
		Summary("Get all users").
		Description("Get list of all users").
		Tags("user").
		HeaderParam("User-Agent", "User-Agent", false).
		HeaderParam("Accept-Language", "Preferred language (e.g., vi-VN, en-US)", false).
		HeaderParam("X-Timezone", "Timezone (e.g., Asia/Ho_Chi_Minh)", false).
		HeaderParam("Authorization", "Bearer token for authentication", false).
		RateLimit(*limiterRate).
		Response(200, w_resp.ResponseHandle{}, "Users list").
		Use(authMW).
		Handler(services.HandleUser.HandleGetAllUser()).
		Build()
}
