package routers

import (
	"fmt"
	"log"

	"{{.ModuleName}}/cmd/server/core"
	"{{.ModuleName}}/internal/shared/middleware"

	w_handl "github.com/DVV-15324/witches/pkg/core/handler"
	w_utils "github.com/DVV-15324/witches/pkg/core/utils"
	"github.com/gin-gonic/gin"
	"github.com/ulule/limiter/v3"
)

func RegisterRoutes(r *gin.Engine, core *core.CoreServices, modules *Modules) {
	// Middleware CORS
	r.Use(w_utils.Cors(core.Config))

	// Rate limit middleware
	rateLimitMiddleware := &middleware.LimitMiddleWare{}

	// Auth middleware
	authMiddleware := middleware.AuthMiddleware(
		modules.Refresh.Usecase,
		core.Session,
		core.Blacklist,
		core.Logger,
		core.Config,
		core.DeviceHelper,
	)

	// Rate limit config
	rateLimit := limiter.Rate{
		Period: core.Limiter.Rate.Period,
		Limit:  core.Limiter.Rate.Limit,
	}

	// Khởi tạo Swagger
	gen := initSwagger(r, core, rateLimitMiddleware)

	modules.User.RegisterPublicRoutes(gen, &rateLimit)
	modules.Auth.RegisterPublicRoutes(gen, &rateLimit)
	modules.Refresh.RegisterPublicRoutes(gen, &rateLimit)

	// ---- Protected routes ----
	modules.User.RegisterProtectedRoutes(gen, &rateLimit, authMiddleware)
	modules.Auth.RegisterProtectedRoutes(gen, &rateLimit, authMiddleware)
	modules.Refresh.RegisterProtectedRoutes(gen, &rateLimit, authMiddleware)

	// Lưu Swagger
	if err := gen.Save("swagger.json"); err != nil {
		log.Printf("Error saving swagger.json: %v", err)
	} else {
		log.Println("swagger.json generated successfully!")
	}

	// Swagger UI
	r.GET("/swagger/*any", w_handl.SwaggerUI())
	r.GET("/swagger.json", func(c *gin.Context) {
		c.Header("Content-Type", "application/json")
		c.String(200, gen.GenerateJSON())
	})
}

func initSwagger(r *gin.Engine, core *core.CoreServices, rateLimitMiddleware w_handl.IRateLimitMiddleware) *w_handl.SwaggerGenerator {
	address := fmt.Sprintf("%s:%d", core.Config.Host, core.Config.Port)
	gen := w_handl.NewSwaggerGenerator("Example API", "1.0", address, "/")
	gen.SetEngine(r)
	gen.SetRedisClient(core.Redis.GetClient())
	gen.SetRateLimitMiddleware(rateLimitMiddleware)

	gen.AddTag("v1", "API Version 1")
	gen.AddTag("auth", "Authentication endpoints")
	gen.AddTag("user", "User management endpoints")

	return gen
}
