// internal/entity/auth/auth.go
package auth

import "time"

type Auth struct {
	Id        int       `gorm:"primaryKey;autoIncrement" json:"id"`
	Email     string    `gorm:"uniqueIndex;not null" json:"email"`
	Password  string    `gorm:"not null" json:"-"`
	UserId    int       `gorm:"uniqueIndex;not null" json:"user_id"`
	Salt      string    `gorm:"not null" json:"-"`
	Banned    bool      `gorm:"default:false" json:"banned"`
	AuthType  string    `gorm:"default:email" json:"auth_type"`
	CreatedAt time.Time `gorm:"autoCreateTime" json:"created_at"`
	UpdatedAt time.Time `gorm:"autoUpdateTime" json:"updated_at"`
}

func (Auth) TableName() string {
	return "auths"
}
