package mapping

import (
	dtoAuth "{{.ModuleName}}/internal/auth/dto/request"
	modelAuth "{{.ModuleName}}/internal/auth/model"
	domainAuth "{{.ModuleName}}/internal/shared/domain"
	w_dpop "github.com/DVV-15324/witches-dpop"
)

func FromRegisterToDomainAuth(dtoAuth *dtoAuth.Register) *domainAuth.Auth {
	return &domainAuth.Auth{
		Email:    dtoAuth.Email,
		Password: dtoAuth.Password,
	}
}

func FromLoginToDomainAuth(dtoAuth *dtoAuth.Login) (*domainAuth.Auth, *w_dpop.JWK) {
	return &domainAuth.Auth{
			Email:    dtoAuth.Email,
			Password: dtoAuth.Password,
		},
		&w_dpop.JWK{
			Kty: dtoAuth.JWK.Kty,
			Crv: dtoAuth.JWK.Crv,
			X:   dtoAuth.JWK.X,
			Y:   dtoAuth.JWK.Y,
		}
}

func FromDomainToModelAuth(domain *domainAuth.Auth) *modelAuth.Auth {
	return &modelAuth.Auth{
		Id:        domain.Id,
		Email:     domain.Email,
		UserId:    domain.UserId,
		Password:  domain.Password,
		Salt:      domain.Salt,
		Banned:    domain.Banned,
		AuthType:  domain.AuthType,
		CreatedAt: domain.CreatedAt,
		UpdatedAt: domain.UpdatedAt,
	}
}

// Domain → Model
func FromModelToDomainAuth(model *modelAuth.Auth) *domainAuth.Auth {
	return &domainAuth.Auth{
		Id:        model.Id,
		Email:     model.Email,
		UserId:    model.UserId,
		Password:  model.Password,
		Salt:      model.Salt,
		Banned:    model.Banned,
		AuthType:  model.AuthType,
		CreatedAt: model.CreatedAt,
		UpdatedAt: model.UpdatedAt,
	}
}
