package user

import (
	core "{{.ModuleName}}/cmd/server/core"

	handler "{{.ModuleName}}/internal/user/handler"
	"{{.ModuleName}}/internal/user/repository"
	usecase_user "{{.ModuleName}}/internal/user/usecase"

	w_handl "github.com/DVV-15324/witches/pkg/core/handler"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	"github.com/gin-gonic/gin"

	"github.com/ulule/limiter/v3"
)

type UserModule struct {
	Handler *handler.UserHandle
	Usecase *usecase_user.UserUseCase
	Repo    *repository.UserRepository
}

func NewUserModule(
	core *core.CoreServices,
) *UserModule {
	repo := repository.NewUserRepository(core)
	usecase := usecase_user.NewUserUsecase(core, repo)
	handler := handler.NewUserHandle(core, usecase)
	return &UserModule{
		Handler: handler,
		Usecase: usecase,
		Repo:    repo,
	}
}

func (m *UserModule) RegisterPublicRoutes(gen *w_handl.SwaggerGenerator, rateLimit *limiter.Rate) {}

func (m *UserModule) RegisterProtectedRoutes(gen *w_handl.SwaggerGenerator, rateLimit *limiter.Rate, authMiddleware gin.HandlerFunc) {
	// En: Get user by ID
	// Vi: Lấy người dùng theo ID
	gen.POST("/v1/user/get_user").
		Summary("Get user by ID").
		Description("Get user details by user ID").
		Tags("user").
		HeaderParam("User-Agent", "User-Agent", false).
		HeaderParam("Accept-Language", "Preferred language (e.g., vi-VN, en-US)", false).
		HeaderParam("X-Timezone", "Timezone (e.g., Asia/Ho_Chi_Minh)", false).
		RateLimit(*rateLimit).
		HeaderParam("Authorization", "Bearer token for authentication", false).
		Body(map[string]int{"id": 0}, "User ID").
		Response(200, w_resp.AppResponse{}, "User found").
		Response(404, w_resp.AppResponse{}, "User not found").
		Use(authMiddleware).
		Handler(m.Handler.HandleGetUserById()).
		Build()

	// En: Get all users
	// Vi: Lấy tất cả người dùng
	gen.POST("/v1/user/get_user_all").
		Summary("Get all users").
		Description("Get list of all users").
		Tags("user").
		HeaderParam("User-Agent", "User-Agent", false).
		HeaderParam("Accept-Language", "Preferred language (e.g., vi-VN, en-US)", false).
		HeaderParam("X-Timezone", "Timezone (e.g., Asia/Ho_Chi_Minh)", false).
		HeaderParam("Authorization", "Bearer token for authentication", false).
		RateLimit(*rateLimit).
		QueryParam("page", "Pagenation request", false).
		QueryParam("limit", "Pagenation request", false).
		QueryParam("search", "Pagenation request", false).
		QueryParam("sort", "Pagenation request", false).
		QueryParam("order", "Pagenation request", false).
		Response(200, w_resp.AppResponse{}, "Users list").
		Use(authMiddleware).
		Handler(m.Handler.HandleGetAllUser()).
		Build()
}
