package handler

import (
	"errors"
	dtoAuth "{{.ModuleName}}/internal/auth/dto/request"
	helper "{{.ModuleName}}/internal/shared/utils"

	"time"

	w_easyjson "github.com/DVV-15324/witches/pkg/core/easyjson"
	w_resp "github.com/DVV-15324/witches/pkg/core/response"
	"github.com/gin-gonic/gin"
)

func (h *AuthHandle) HandleGoogleLogin() func(c *gin.Context) {
	return func(c *gin.Context) {
		var req dtoAuth.GoogleLoginRequest

		if err := w_easyjson.BindJSON(c, &req); err != nil {
			w_resp.WriteErrorWithLog(c, h.Log, h.Cfg, w_resp.NewAppError(400, errors.New("invalid request body"), time.Now()))
			return
		}

		// Use helper to get device info
		deviceID, ipAddress, userAgent, locale, timeZone := helper.GetDeviceInfo(c)

		token, err := h.UsecaseAuth.LoginWithGoogle(
			c.Request.Context(),
			req.AccessToken,
			deviceID,
			ipAddress,
			userAgent,
			locale,
			timeZone,
		)

		if err != nil {
			w_resp.WriteError(c, err)
			return
		}
		w_resp.WriteSuccess(c, token)
	}
}
